<!DOCTYPE html>
<html lang="en">
<head>
    <title>Music Recommendation</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Find Your Songs</h1>
        <p>Enter a genre to get music recommendations</p>
        <ul>    
        </ul>
        <form action="/" method="POST">
            <label for="genre">Enter Genre:</label>
            <input type="text" name="genre" required placeholder="e.g. Pop, Indie, Punjabi, Hip-Hop, Bollywood, Fusion, Retro">
            <button type="submit">Get Recommendations</button>
        </form>
    </div>
</body>
</html>
